# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
coverage.xml
*.egg-info/
venv/
.venv/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
